<html>
<head>
   <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>       
    <title>Struggle</title>
</head>

<body>
    <div class = "container-fluid h -500">
        <h1>{{text}}</h1>
            <p></p>
        <div>
            <img src="https://media1.tenor.com/images/54c11d49efd817e8249d7586d12eb7c5/tenor.gif?itemid=12236229" alt="animated" height="400" width="700">
        </div>
    </div>
    <script src="/static/js/jquery.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js" charset="utf-8"></script>
</body>
</html>