<!DOCTYPE html>
<html>
<head>
   <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>       
    <title>Link your Fitbit Account</title>
</head>

<body>
   
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
    
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <h1>Fitbit Account</h1>
                 <form action="/fitbit" method="POST">
                     <button type="submit" class="btn btn-primary">Connect your accounts!</button>
                 </form>
        </div>
    </div>
</div>
    <script src="/static/js/jquery.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js" charset="utf-8"></script>
</body>
</html>